name: FPsim CI workflow
on: [pull_request]

jobs:
  install_and_test:
    runs-on: ubuntu-latest
    timeout-minutes: 4
    strategy:
      fail-fast: false
      max-parallel: 8
      matrix:
        python-version: [ '3.11' ]
    name: Install and test
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install FPsim
        run: pip install -e .
      - name: Install tests
        working-directory: ./tests
        run: pip install -r requirements_test.txt
      - name: Run integration tests
        working-directory: ./tests
        run: pytest -v test_*.py -n auto --durations=0 --junitxml=test-results.xml # Run actual tests
      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test_results
          path: tests/test-results.xml
      - name: Upload report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: report
          path: tests/regression/report/
